@import "themes.css";

.create-task-popup {
    width: 500px;
    height: 350px;
    margin:  auto;
    z-index: 5;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    background-color: var(--bg-color);
    border: 2px solid var(--border-color);
}

.create-task-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--font-color);
}

.create-task-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid var(--border-color);
    background-color: var(--fg-color);
    color: var(--font-color);
    padding: 0 10px;
}

.create-task-tags {
    margin-bottom: 2rem;
}

.create-task-name-input,
.create-task-tags-input {
    background-color: transparent;
    border: 2px solid var(--border-color);
    color: var(--font-color);
    padding: 10px;
    border-radius: 5px;
}

.create-task-name-input::placeholder,
.create-task-tags-input::placeholder {
    color: var(--font-color);
    opacity: 50%;
}

.close-popup {
    background-color: transparent;
    display: flex;
    color: var(--alert-color);
    border: none;
    font-size: 40px;
    cursor: pointer;
    padding: 0;
}

.create-task-button {
    background-color: var(--filled-button-color);
    color: var(--filled-button-font);
    font-weight: 600;
    padding: .5rem;
    border-radius: 10px;
    height: 35px;
    border: 2px solid var(--border-color);
    cursor: pointer;
}