.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.create-task {
    background-color: #0df2d7;
    color: #0f2033;
    font-weight: 600;
    padding: .5rem;
    display: flex;
    gap: .5rem;
    border-radius: 10px;
    height: 35px;
    align-items: center;
    border: 2px solid #243242;
    cursor: pointer;
}

.task {
    background-color: #0f2033;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 2rem;
    border: 1px solid #243242
}

.task-content {
    display: flex;
    flex-grow: 1;
}

.task-header {
    background-color: #0c1b2d;
    height: 40px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: 2px solid #243242

}

.task-name {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    gap: .5rem;
}

.delete-task {
    background-color: #0f2033;
    color: #eaf2fa;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

.task-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tags {
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}

.tag {
    background-color: #0f2033;
    color: #ffeb94;
    border: 2px solid #243242;
    border-radius: 10px;
    height: 70%;
    margin: 1px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .2rem;
}

.start-time {
    background-color: #0f2033;
    color: #00f597;
    border: 1px solid #00f597;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.name-input {
    background-color: transparent;
    border: 1px solid #243242;
    color: #eaf2fa;
}

.remove-tag {
    color: #eaf2fa;
    cursor: pointer;
}

.task-time {
    margin-bottom: 1rem;
    margin-top: 0;
}


