@import "themes.css";

.headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
}

.create-task {
    background-color: var(--filled-button-color);
    color: var(--filled-button-font);
    font-weight: 600;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    border-radius: 10px;
    height: 35px;
    align-items: center;
    border: 2px solid var(--filled-button-border);
    cursor: pointer;
}

