@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Montserrat&family=Oswald&display=swap');
@import "themes.css";

* {
    box-sizing: border-box;
    font-family: "Montserrat";
}

body {
    margin: 0;
    background-color: var(--main-bg-color);
    color: var(--font-color);
}

body h1 {
    letter-spacing: .1rem;
}
